#total{
    width: 960px;
    height: auto;
    margin: auto; /*centralizar a divisão na página*/
}
#topo{
    width: 960px;
    height: auto;
    float: left;
    background-color: coral
}
#logo{
    width: 200px;
    height: 60px;
    margin: 10px auto;
    background-color: rgb(80, 255, 168)
}

#banner{
    width: 960px; 
    height: 300px;
    float: left;
    background-image: url("../imagem/banner.jpg");
}